.tasks{
    background-color:rgba(255, 182, 193, 0.7);
    border: 1px solid rgba(78, 10, 47, 0.5) ;
    width: 355px;
    height:25px;
    box-shadow: 0px 0px 2px black;
    float: left;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.tasks_close{
    width: 20px;
    height:25pxx;
    display : flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color:rgba(255, 182, 193, 0.7);
    border: 1px solid rgba(78, 10, 47, 0.5) ;
}
