.home{
   
    display:flex;
    justify-content: center;
    align-items: center;
    width:540px;
    min-height: 60vh;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:600px;
}
.tasklist{
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
}